<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="p-4">
                <div class="text-center">
                    <h3>Admin panel</h3>
                </div>
                <form class="">
                    <div class="input-group">
                        <mat-form-field class="p-2" appearance="fill">
                            <mat-label>Login</mat-label>
                            <input matInput placeholder="Type login">
                        </mat-form-field>     
                    </div>
                    <div class="input-group">
                        <mat-form-field class="p-2" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Type password" type="password">
                        </mat-form-field>     
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="primary">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
